streamlit
google-cloud-aiplatform
vertexai
protobuf>=3.19.0,<4.0.0
langchain
langchain-community
langchain-core
langchain-chroma
langchain-google-vertexai<1.0.0
chromadb
pysqlite3-binary
unstructured
python-docx
markdown
python-dotenv
requests
numpy
pandas
setuptools<81
pydantic>=1.10.0,<2.0.0